{% extends "base_site.html" %}

{% block title %} Dash Page 1 {% endblock title %}

{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}

{% block content %}
    {% include "site_template/navigation.html" %}

    {% include "site_template/top-stats.html" %}

    <div class="container-fluid mt--7">


        <div class="row">
            <div class="col">
                <div class="card shadow border-0">
            <iframe src="/dashapp/app2/" width=100% height=600 style='border:none;'></iframe>                
                </div>
            </div>
        </div>

        {% include "site_template/footer.html" %}
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super()}}
{% endblock javascripts %}
